<%- include('../partials/header') %>

<h1>Goals List</h1>
<a type="button" class="btn btn-info" href="/users/new">Set a Goal</a>
<table class ="table">
    <thead>
        <tr>
            <th>Goal</th>
            <th>Days Practiced</th>
            <th>Challenges</th>
            <th>Start Date</th>
            <th>Due Date </th>
            <th>Completed?</th>
        </tr>
    </thead>
    <tbody>
        <% user.goals.forEach((g) => { %> 
        <tr>
            <td><%= user.goals.goal %></td>
            <td><%= user.goals.daysPracticed %></td>
            <td><%= user.goals.challenges %></td>
            <td><%= user.goals.startDate %></td>
            <td><%= user.goals.dueDate %></td>
            <td><%= user.goals.completed %></td>
            <td><a type="button" class="btn btn-info" href="/users/goals<%= g._id %>">Goal Info</a></td>
        </tr>
    <% })%>
    </tbody>
</table>