<%- include('../partials/header') %>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  
<div>
<h1 class="table">Goals List</h1>
<a type="button" class="btn btn-info" href="/users/new">Set a Goal</a>
<table class ="table">
    <thead>
        <tr>
            <th>Goal</th>
            <th>Days Practiced</th>
            <th>Challenges</th>
            <th>Start Date</th>
            <th>Due Date </th>
            <th>Completed?</th>
        </tr>
    </thead>
    <tbody>
        <% user.goals.forEach((g) => { %> 
        <tr>
            <td><form action="/goals/<%= g.id %>" method="POST"></form>
            </form></td>
            <td><%= g.goal %></td>
            <td><%= g.daysPracticed %></td>
            <td><%= g.challenges %></td>
            <td><%= g.startDate %></td>
            <td><%= g.dueDate %></td>
            <td><%= g.completed %></td>
            <td><form action="/users/goals/<%= g.id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button></form></td>
        </tr>
    <% })%>
    </tbody>
</table>
</div>